
*{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


html,body{
    width:100%;
    height: 100%;
    position: relative;
 
}
.bootcolor{

    color:white;
    background-color:white;
    height:100%;
    overflow:auto;
}

.wrapper{
	width:100%;
    height: 100%;
    background-color: rgb(31,20,87);
    color: white;
    overflow:hidden;

}

.mikmakall{
    height: 10%;
    width:100%;
    background-color: black;
    border-style: dotted;

}
.mikamakheader{
    width: auto;
    height: 100%;
    float: right;
    margin-right: 2em;
    
}
.nav{
    width:auto;
    height: 100%;
    float: left;
    
}
.mikmakmain{
    height:80%;
    width:100%;
  
}

.rechts{float: left}
.footer{
  
    text-align:center;
    background-color:black;
    color:white;
    height: 10%;
    font-size: 20px;
    width: 100%;
    padding-top: 1.5%;

    
   
}

.gegevens{
    margin-left: 50%;
  
}


.eersterij{
    width: 100%;
    height:33%;
    padding:0.25%;

    
  
}
.product{
    float: left;
    background-color: rgb(129,159,195);
    width: 24.3%;
    margin-left: 0.5%;
	margin-top: 0.1%;
	height:100%;
	text-align: center;
	 
	   
	    
}
.supplier{
    float: left;
    width: 24.3%;
	background-color: rgb(129,159,195);
    margin-left: 0.5%;
	text-align: center;
	margin-top: 0.1%;
    height:100%;
				 
}
.foto1{
    float: left;
    background-color: rgb(129,159,195);
    margin-left: 0.5%;
	text-align: center;
    width: 49.3%;
    margin-top: 0.1%;
	height:100%;
}
.tweederij{
    width: 100%;
    height:33%;
    padding: 0.25%;
  
    
  
}
.customer{
    float: left;
    width: 24.3%;
	height:auto;
    background-color: rgb(129,159,195);

	margin-left: 0.5%;
    margin-top: 0.1%;
	text-align: center;
	height:100%;
}
.foto2{
    float: left;
    width: 24.3%;
	height:auto;
	background-color: rgb(129,159,195);
    margin-left: 0.5%;
    margin-top: 0.1%;
	text-align: center;
	height:100%;
}
.order{
    float: left;
    width: 24.3%;
	height:auto;
	background-color: rgb(129,159,195);

	margin-left: 0.5%;
    margin-top: 0.1%;
	text-align: center;
    height:100%;
}
.orderitems{
    float: left;
    width: 24.5%;
	height:auto;
    background-color: rgb(129,159,195);

	margin-left: 0.5%;
    margin-top: 0.1%;
	text-align: center;
	height:100%;
}
.derderij{
    width: 100%;
    height:33%;
    padding: 0.25%;
  
}
.foto3{
    float: left;
    width: 24.3%;
	height:auto;
	background-color: rgb(129,159,195);
	margin-left: 0.5%;
    margin-top: 0.1%;
	text-align: center;
    height:100%;
}
.country{
    float: left;
    width: 24.3%;
    height:auto;
    background-color: rgb(129,159,195);

	margin-left: 0.5%;
    margin-top: 0.1%;
	text-align: center;
	height:100%;
}
.orderstatus{
    float: left;
    width: 24.3%;
	height:auto;
	background-color: rgb(129,159,195);

	margin-left: 0.5%;
    margin-top: 0.1%;
    text-align: center;
	height:100%;
}
.category{
    float: left;
    width: 24.5%;
	height:auto;
    background-color: rgb(129,159,195);

	margin-left: 0.5%;
    margin-top: 0.1%;
	text-align: center;
	height:100%;
	vertical-align: middle;
}
.category a, .orderstatus a, .country a{
     height:100%;
    width:100%;
    display: block;
    padding: 1%;
    padding-top:22%;
    text-decoration:none;
    color:white;
}

.product a, .supplier a , .customer a, .order a, .orderitems a{
    height:100%;
    width:100%;
    display: block;
    padding: 1%;
    padding-top:22%;
    text-decoration:none;
    color:white;
 
}
.product:hover, .supplier:hover, .customer:hover, .order:hover, .orderitems:hover,  .country:hover, .orderstatus:hover , .category:hover {
    background-color: yellow;
       color:black;
}





.product a:hover, .supplier a:hover , .customer a:hover, .order a:hover, .orderitems a:hover,.category a:hover, .orderstatus a:hover, .country a:hover{
  
      color:black;
}
